{% extends 'layout.html' %}
{% block body %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
<div class="row">
    <div class="col-md-8">
        <div class="card card-body">
            <form class="needs-validation" action="/update_product/{{ product.0 }}" method="POST">
                <div class="row g-3">
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="product" placeholder="Product" value="{{ product.1 }}">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="price" placeholder="Price" value="{{ product.2}}">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="stock" placeholder="Stock" value="{{ product.3}}">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        <table>
            <thead>
            <tr>
                <td>Producto</td>
                <td>Precio</td>
                <td>Stock</td>
                <td>Acciones</td>
            </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.1 }}</td>
                        <td>{{ product.2 }}</td>
                        <td>{{ product.3 }}</td>
                        <td>
                            <a href="/edit_product/{{product.0}}">Editar</a>
                            <a href="/delete_product/{{product.0}}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}